{% extends "base.html" %}
{%block top-navbar %} 
<nav class="top-navbar">
    <div class="nav-left">
        <ul>
            <li><a href="{% url 'admin_dashboard' %}">Dashboard</a></li>
            <li><a href="{% url 'admin_responses_list' %}">Submissions</a></li>
            <!-- <li><a href="#">Users</a></li> -->
            <li><a href="#">Reports</a></li>
            <li><a href="{% url 'admin_logout' %}">Logout</a></li>
        </ul>
    </div>

    <div class="nav-right">
        <h2>Admin Dashboard</h2>
    </div>
</nav>
{% endblock %}
{% block content %}
<h2>All Submissions</h2>
<form method="GET" style="margin-bottom: 1rem;">
  
  <div style="
      display: flex;
      flex-direction: row;
      justify-content: left;
      align-items: center;
      gap: 0.5rem;
  ">
      <input 
          type="text" 
          name="query" 
          placeholder="Search by Center, Period, Date, or Department"
          style="padding: 0.45rem; width: 50%; border: 1px solid #ccc; border-radius: 5px;"
      >

      <button 
          type="submit" 
          style="padding: 0.45rem 0.75rem; font-size: 0.85rem; border-radius: 5px;">
          Search
      </button>

      <a href="{% url 'admin_responses_list' %}" 
          style="padding: 0.45rem 0.75rem; font-size: 0.85rem; border-radius: 5px; background-color: #ccc; text-decoration: none;">
          Reset
      </a>
  </div>

</form>



<table border="1" cellpadding="5" cellspacing="0">
    <tr>
        <th>Name</th>
        <th>Center</th>
        <th>Attachment Period</th>
        <th>Department</th>
        <th>Submitted At</th>
        <th>Actions</th>
    </tr>
    {% for r in responses %}
    <tr>
        <td>{{ r.respondent_name }}</td>
        <td>{{ r.respondent_center }}</td>
        <td>{{ r.respondent_attachment_period }}</td>
        <td>{{ r.respondent_department }}</td>
        <td>{{ r.submitted_at }}</td>
        <td><a href="{% url 'admin_response_detail' r.id %}">View</a></td>
    </tr>
    {% endfor %}
</table>
{% if messages %}
  <ul>
    {% for msg in messages %}
      <li>{{ msg }}</li>
    {% endfor %}
  </ul>
{% endif %}
{% endblock %}
